<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suscribirse</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body class="fondo">
    <header>
        <h1 class="titulo">Suscribirse a nuestro Boletín</h1>
    </header>
    <main class="cuerpo">
        <section>
            <h2 class="subtitulos">Suscríbete a nuestro boletín</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Suscribirse">
            </form>
        </section>
    </main>
    <footer>
        <address>
            <p>Desarrollado por Carolina</p>
            <p>Derechos reservados ©</p>
        </address>
    </footer>
</body>
</html>
